{% extends "base.html" %}

{% block title %}ToDo検索{% endblock title %}

{% block extrahead %}
{% load bootstrap %}
{% endblock %}

{% block content %}

  <form id="getform" action="" method="get">
    <input id="query" type="text" size="60" name="query">
    <input type="submit" class="btn btn-primary" value="検索">
  </form>
  <div id="result">
    <table class="table table-bordered" id=tb-todo>
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
    <table class="table table-bordered" id=tb-tl>
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
      $('#getform').submit(function() {
          $('#result').html('');
          $.ajax({
              'url':'{% url "cms:search" %}',
              'type':'GET',
              'data':{
                  'query':$('#query').val(),
              },
              'dataType':'json',
              'success':function(response){
                $('#result').append('<br>')
                if (response.num_word_todo=='0'){
                  $('#result').append('<font color="red">対象のToDoは見つかりません</font><br>')
                }else{
                  $('#result').append('<font color="red">ToDoが'+response.num_word_todo+'件見つかりました</font><br><br>')
                  // $('table#tb-todo thead').append('<tr><th>ToDo名</th><th>ToDoリスト名</th><th>期限</th><th>作成日</tr>')
                  // $('table').append('<tr><th>ToDo名</th><th>ToDoリスト名</th><th>期限</th><th>作成日</tr>')
                  $.each(response.word_todo, function(index1, todo_name) {
                      // $('#tb-todo tbody').append('<tr>')
                      // $('#result').append('<div style="padding: 20px; margin-bottom: 10px; border: 1px solid #333333;">')
                      $.each(response.word_todo_todolist_id, function(index2, todolist_id){
                          if (index1==index2){
                            // $('#tb-todo tbody').append('<td><font size="5"><a href=../ToDo/'+todolist_id+'>'+ todo_name +'</a></font></td>')
                            // $('#result').append('<font size="5"><a href=../ToDo/'+todolist_id+'>'+ todo_name +'</a></font>')
                            tmp_todolist_id = todolist_id
                          }
                      });
                      $.each(response.word_todo_todolist, function(index2, todolist_name) {
                          if (index1==index2){
                            // $('#tb-todo tbody').append('<td><font size="4">'+ todolist_name+'</font></td>')
                            // $('#result').append('<font size="4">'+ todolist_name+'</font>')
                            tmp_todolist_name = todolist_name
                          }
                      });
                      $.each(response.word_deadline, function(index2, deadline) {
                          if (index1==index2){
                            // $('#tb-todo tbody').append('<td><font size="4">'+ deadline+'</font></td>')
                            // $('#result').append('<font size="4">'+ deadline+'</font>')
                            tmp_deadline = deadline
                          }
                      });
                      $.each(response.word_created_time, function(index2, created_time) {
                          if (index1==index2){
                            // $('#tb-todo tbody').append('<td>'+ created_time+'</td>')
                            // $('#result').append(created_time)
                            tmp_created_time = created_time
                          }
                      });
                      // $('#tb-todo tbody').append('</tr>')
                      // $('#result').append('</div>')
                      $('#result').append('<div style="padding: 20px; margin-bottom: 10px; border: 1px solid #333333;"><font size="5"><a href=../ToDo/'+tmp_todolist_id+'>'+todo_name +'</a></font><br><div style="float:left">リスト：<font size="4">'+tmp_todolist_name+'</font></div><div align="right">期限：<font size="4">'+tmp_deadline+'</font></div><div align="right">作成日：'+tmp_created_time+'</div></div>')
                      // $('table').append('<tr><td><font size="5"><a href=../ToDo/'+tmp_todolist_id+'>'+todo_name +'</a></font></td><td><font size="4">'+tmp_todolist_name+'</font></td><td><font size="4">'+tmp_deadline+'</font></td><td>'+tmp_created_time+'</td></tr>')
                  });

                }
                $('#result').append('<br>')


                if (response.num_word_todolist=='0'){
                  $('#result').append('<font color="red">対象のToDoリストは見つかりません</font><br>')
                }else{
                  $('#result').append('<font color="red">ToDoリストが'+response.num_word_todolist+'件見つかりました</font><br><br>')
                  // $('#tb-tl thead').append('<tr><th>ToDoリスト名</th><th>作成日</tr>')
                  $.each(response.word_todolist, function(index1, todolist_name) {
                      // $('#tb-tl tbody').append('<tr>')
                      $.each(response.word_todolist_id, function(index2, todolist_id) {
                        if (index1==index2){
                          // $('#result').append('<a href=\"\{% url \'cms:todo_list\' todolist_id='+todolist_id+' %\}\">'+ todolist_name +'</a>')
                          // $('#tb-tl tbody').append('<td><a href=../ToDo/'+todolist_id+'>'+ todolist_name +'</a></td>')
                          // $('#result').append('<a href="http://127.0.0.1:8000/cms/ToDo/'+todolist_id+'">'+ todolist_name +'</a>')
                          tmp_todolist_id = todolist_id
                        }
                      });
                      $.each(response.word_todolist_created, function(index2, todolist_created) {
                        if (index1==index2){
                          // $('#tb-tl tbody').append('<td><p>'+ todolist_created +'</p></td>')
                          tmp_todolist_created = todolist_created
                        }
                      });
                      $('#tb-tl tbody').append('</tr>')
                      $('#result').append('<div style="padding: 20px; margin-bottom: 10px; border: 1px solid #333333;"><font size="5"><a href=../ToDo/'+tmp_todolist_id+'>'+ todolist_name +'</a></font><br><div align="right">作成日：'+tmp_todolist_created+'</div></div>')
                  });
                  // $('#result').append('</tbody></table>')
                }
              },
          });
          return false;
      });
  });
</script>
{% endblock scripts %}
