{% extends "base.html" %}

{% block title %}ToDo検索{% endblock title %}

{% block extrahead %}
{% load bootstrap %}
{% endblock %}

{% block content %}

  <form id="getform" action="" method="get">
    <input id="query" type="text" size="60" name="query">
    <input type="submit" class="btn btn-primary" value="検索">
  </form>
  <div id="result">
  </div>
{% endblock content %}

{% block scripts %}
<script>
  $(document).ready(function() {
      $('#getform').submit(function() {
          $('#result').html('');
          $.ajax({
              'url':'{% url "cms:search" %}',
              'type':'GET',
              'data':{
                  'query':$('#query').val(),
              },
              'dataType':'json',
              'success':function(response){
                if (response.num_word_todo=='0'){
                  $('#result').append('<font color="red">対象のToDoは見つかりません</font>')
                }else{
                  $('#result').append('<font color="red">ToDoが'+response.num_word_todo+'件見つかりました</font><br>')
                  $.each(response.word_todo, function(index1, todo_name) {
                      // $('#result').append('<p>'+ todo_name +'</p>')
                      $.each(response.word_todo_todolist_id, function(index2, todolist_id){
                          if (index1==index2){
                            $('#result').append('<a href=../ToDo/'+todolist_id+'>'+ todo_name +'</a>')
                          }
                      });
                      $.each(response.word_todo_todolist, function(index2, todolist_name) {
                          if (index1==index2){
                            $('#result').append('<p>'+ todolist_name+'</p>')
                          }
                      });
                      $.each(response.word_deadline, function(index2, deadline) {
                          if (index1==index2){
                            $('#result').append('<p>'+ deadline+'</p>')
                          }
                      });
                      $.each(response.word_created_time, function(index2, created_time) {
                          if (index1==index2){
                            $('#result').append('<p>'+ created_time+'</p>')
                          }
                      });
                  });

                }
                $('#result').append('<br>')
                if (response.num_word_todolist=='0'){
                  $('#result').append('<font color="red">対象のToDoリストは見つかりません</font>')
                }else{
                  $('#result').append('<font color="red">ToDoリストが'+response.num_word_todolist+'件見つかりました</font><br>')
                  $.each(response.word_todolist, function(index1, todolist_name) {
                      // $('#result').append('<p>'+ todolist_name +'</p>')
                      $.each(response.word_todolist_id, function(index2, todolist_id) {
                        if (index1==index2){
                          // $('#result').append('<a href=\"\{% url \'cms:todo_list\' todolist_id='+todolist_id+' %\}\">'+ todolist_name +'</a>')
                          $('#result').append('<a href=../ToDo/'+todolist_id+'>'+ todolist_name +'</a>')
                          // $('#result').append('<a href="http://127.0.0.1:8000/cms/ToDo/'+todolist_id+'">'+ todolist_name +'</a>')
                        }
                      });
                      $.each(response.word_todolist_created, function(index2, todolist_created) {
                        if (index1==index2){
                          $('#result').append('<p>'+ todolist_created +'</p>')
                        }
                      });
                  });
                }
              },
          });
          return false;
      });
  });
</script>
{% endblock scripts %}
