{% extends "base.html" %}

{% block title %}ToDoの一覧{% endblock title %}

{% block extrahead %}
<script>
$(function() {
  $('.del_confirm').on('click', function () {
     $("#del_pk").text($(this).attr("pk"));
     $('#del_url').attr('href', $(this).attr("url"));
  });
});
</script>
<style>
table {
  margin-top: 8px;
}
div.list{
  display: inline-block;
}
</style>
{% load bootstrap %}
{% endblock %}

{% block content %}
  <h3 class="page-header">
    <div style="background-color:#ffcc99 width:30px">
    <!-- <div style="background: linear-gradient(transparent 60%, #ff99ff 60%)"> -->
      <font color="#077">
      {{ todolist.todolist_name }}
      </font>
    </div>
  </h3>
  <br>

  <form action="{% url 'cms:todo_list' todolist_id=todolist.id %}" method="post" class="form-horizontal" role="form">
    {% csrf_token %}
    <!-- {{ form|bootstrap_horizontal }} -->
    新しいToDoを作成する<br>
    ToDo名 <label class="col-sm-8">{{ form.todo_name}}</label><br>
    期限　　<label class="col-sm-8">{{ form.deadline}}</label>
    <button type="submit" class="btn btn-primary btn-lg">ToDoの追加</button>
  </form>
  {% if messages_error != None %}
    <font color="red">{{ messages_error }}</font>
  {% endif %}
  <Hr Color="#000">
  {% if messages_success != None %}
    <font color="black"><b>{{ messages_success }}</b></font><br><br>
  {% endif %}
  {% include "cms/ToDo_list2.html"  %}

{% endblock content %}
