<div class="list">
  <table style=”text-align:right;”>
    <thead>
      <tr>
        <th bgcolor="#AFF"> 3日前 </th><th>　</th>
        <th bgcolor="#FF7"> 1日前 </th><th>　</th>
        <th bgcolor="#F55"> 今日 </th><th>　</th>
        <th bgcolor="#FBF"> 過ぎています </th>
      </tr>
    </thead>
  </table>
</div>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>ToDoリスト名</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>
  <tbody>
    {% load mytag %}
    {% for todolist_part in todolists %}
      <tr>
        {% if time_between|show_list:forloop.counter0 < 0 %}
          <td bgcolor="#FBF" width="30">
        {% elif time_between|show_list:forloop.counter0 == 0  %}
          <td bgcolor="#F55" width="30">
        {% elif time_between|show_list:forloop.counter0 == 1  %}
          <td bgcolor="#FF7" width="30">
        {% elif time_between|show_list:forloop.counter0 <= 3  %}
          <td bgcolor="#AFF" width="30">
        {% else %}
          <td width="30">
        {% endif %}
        </td>
        <td>
          <a href="{% url 'cms:todo_list' todolist_id=todolist_part.id %}" class="btn btn-link btn-lg"><font size="5">{{ todolist_part.todolist_name }}</font></a><br>
          {% if todo_count|show_list:forloop.counter0 > 0 %}
            {{ todo_count|show_list:forloop.counter0 }} 個中 {{ check_count|show_list:forloop.counter0 }} 個が チェック済み<br>
            ~{{ near_dead|show_list:forloop.counter0  }}
          {% else %}
            ToDoがありません
          {% endif %}
        </td>

        <td align="center" valign="middle" width="100">
            <a href="{% url 'cms:todolist_mod' todolist_id=todolist_part.id %}" class="btn btn-info btn-block" >修正</a>
        </td>
        <td align="center" valign="middle" width="80">
            <a href="{% url 'cms:todolist_del' todolist_id=todolist_part.id %}" class="btn btn-danger btn-block">削除</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
